﻿p,h1 {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
  border: 2px solid black;
}

h2,li {
  color: aqua; 
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}