html{
	background-color:#000000;
}
main{
	width:600px;
	background-color:#555555;
	margin:0 auto;
	padding:0px 20px 20px 20px;
	border:2px solid red;
	border-radius: 3px;
	position:relative;
	top:50px;
	height:100%;
}

body{
	background-color:#000000;
}

.container{
	background-color:#000000;
}

button{
	width:100px;
	height:50px;
	color:#CC0000;
}
h1{
    
	color:red;
}

table{
	border: 2px solid black;
	border-collapse: collapse;
}

th, td{
	padding: 5px;
}

.menu{
	width: 0;
	height:100%;
	background-color: #818181;
	position:fixed;
	top:0;
	left:0;
	transition:0.5s;
	z-index: 1;
	overflow-x: hidden;
	 padding-top: 60px;
}
#logo{
	width:650px;
	position:relative;
	left:300px;
	border: 2px solid black;
}
.menu a{
	    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FF0000;
    display: block;
    transition: 0.3s;
}
.menu a:hover {
    color: #CC0000;
}
.menu .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}