﻿p,h1 {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
  border: 2px solid black;
}

h2,li {
  color: red; 
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

footer {
  text-align: center;
  color: purple;
  border: 2px solid black;
  background-color: gray;
}

article {
  text-align: center;
}

aside {
  text-align: center;
  border: 1px solid black;
  width: 20%;
}

.display_block, .display_inline, .display_inline_block {
  width:100px;
  height:100px;
  color:white;
}

.display_block {
  display:block;
}

.display_inline {
  display:inline;
} 
   
.display_inline_block {
  display:inline-block;
}

a {
  text-decoration:none;
  font-family:Arial,sans-serif;
  font-size: 16px;
  font-weight:bold;
}

a:link {
  color:#31508f;
}

a:visited {
  color:maroon;
}

a:hover {
  color:aqua;
}

a:active {
  color:green;
}

p.akapit_1 {
  font-size:14px;
  color:purple;
}

.uniwersalna {
  font-size:20px;
  color:blue;
}
