html{
	background-color:#000000;
}
main{
	width:600px;
	background-color:#555555;
	margin:0 auto;
	padding:0px 20px 20px 20px;
	border:2px solid red;
	border-radius: 3px;
	position:relative;
	top:50px;
	height:100%;
}

body{
	background-color:#000000;
}

.container{
	background-color:#000000;
}

button{
	width:100px;
	height:50px;
	color:#CC0000;
}
h1{
    
	color:red;
}

table{
	border: 2px solid black;
	border-collapse: collapse;
}

th, td{
	padding: 5px;
}

.menu{
	width: 0;
	height:100%;
	background-color: #818181;
	position:fixed;
	top:0;
	left:0;
	transition:0.5s;
	z-index: 1;
	overflow-x: hidden;
	 padding-top: 60px;
}
#logo{
	width:650px;
	position:relative;
	left:300px;
	border: 2px solid black;
}
.menu a{
	    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FF0000;
    display: block;
    transition: 0.3s;
}
.menu a:hover {
    color: #CC0000;
}
.menu .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: #fefefe;
  margin-top: 20px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}